@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: dark;
  }

  body {
    @apply min-h-screen bg-neutral-950 text-white antialiased;
  }

  /* Hide scrollbar but keep functionality */
  html {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
  }

  html::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }

  body::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
}
